TRACESNT__BASEURL=traces_base_url

# The default TracesNT account, used by the CHED, EU-INTRA and reference-data ports
TRACESNT__CREDENTIALS__DEFAULT__USERNAME=traces_username
TRACESNT__CREDENTIALS__DEFAULT__AUTHENTICATIONKEY=traces_authentication_key
TRACESNT__CREDENTIALS__DEFAULT__WEBSERVICECLIENTID=traces_client_id

# The customs account, used by the quantity-management port
TRACESNT__CREDENTIALS__CUSTOMS__USERNAME=traces_customs_username
TRACESNT__CREDENTIALS__CUSTOMS__AUTHENTICATIONKEY=traces_customs_authentication_key
TRACESNT__CREDENTIALS__CUSTOMS__WEBSERVICECLIENTID=traces_customs_client_id
